@page "/alert"
@inject IJSRuntime _JsRuntime
@rendermode InteractiveAuto

<button type="button" class="btn btn-primary" id="liveToastBtn">Show toast</button>

<button type="button" class="btn btn-primary" @onclick="TestConfirmBox">Show toaster</button>

<div class="toast-container position-fixed bottom-0 start-0 p-6">
    <div class="toast" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <div class="d-flex gap-4">
                <span><i class="fa-solid fa-circle-check fa-lg icon-success"></i></span>
                <div class="d-flex flex-column flex-grow-1 gap-2">
                    <div class="d-flex align-items-center">
                        <span class="fw-semibold">#1 Your changes were saved</span>
                        <button type="button" class="btn-close btn-close-sm ms-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                    <span>I will auto dismiss after 8 seconds.</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string ConfirmResult = "are you sure";
    private async Task TestConfirmBox(){
        await _JsRuntime.InvokeVoidAsync("ShowToastr", "success", "testse");
    }
}
